* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: "Source Sans Pro";

}

header, footer {
	background-color: #FF7F50;
	}

.centered {
	padding-top: -100%;
	padding-bottom: 10px;
	text-indent: 30px;

}

header .subtitle {
	padding-top: 10px;
	font-size: 24px;


}

h1 {font-size: 36px;
	text-transform: uppercase;

}

ul {
	display: flex;
	flex-wrap: wrap; list-style-position: inside;

}

ul li {
	width: 50%;
}

main {width: 80%;
	margin: auto;
	color: #FF7F50;

}

article {text-indent: 115px;

}


section {

}

h2 {font-size: 30px; box-shadow: 2px 2px 0px #FF7F50;


}

h3 {font-size: 24px;

}

p {margin:auto;

}

article p {color: black; text-indent: 115px;
			padding-bottom: 5px;
}

ul {color: black; text-indent: 100px;

}

.details {color: #FF7F50;

}

.object {font-weight: 800;

}

.object:after {font-weight: 600;
	content: " | ";
}

footer h2 {

}
