* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: 'Quattrocento Sans', sans-serif;

}

header, footer {
	background-color: #cc0000;
	}

.centered {
	padding-top: 1%;
	padding-bottom: 1%;
	width: 50%; margin: auto;
	color: white;
}


header .subtitle {
	font-size: 24px;

}


h1 {font-size: 36px;
	text-transform: uppercase;

}

address {width: 85%;

}

ul {
	display: flex;
	flex-wrap: wrap; list-style-position: inside;

}

ul li {
	width: 50%;
}

address ul {color: white;

}

main {width: 43%; margin: auto;
	color: #cc0000;

}

article {padding-bottom: 3%;

}


section {width: 75%;

}

h2 {font-size: 30px; box-shadow: 0px 2px 0px #cc0000;


}


h3 {font-size: 24px; margin: auto; text-align: justify-all;
	
}


h3, article p, section p, section ul {margin-left: 8%;

}


p {margin:auto;

}

article p {color: black;
			padding-bottom: 5px;
}

ul {color: black;

}

.details {color: #cc0000;

}

.object {font-weight: 800;

}

.object:after {font-weight: 600;
	content: " | ";
}

footer h2 {

}

footer p {padding-right: -10%;
	text-align: justify;

}